<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reader's Digest</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>

    <body>
        <div>
            <h1 class="header">Reader's Digest</h1>
        </div>
        <div class="container">
            <a id="newPostBtn" href="/new">New Post</a>
            <ul id="postsList">
                <% posts.forEach(post => { %>
                    <li>
                        <h2>
                            <%= post.title %>
                        </h2>
                        <small>
                            <%= post.date %>
                        </small>
                        <!--<p>
                            <%= post.content.substring(0, 100) %>...
                        </p>-->
                        <small>By: <%= post.author %></small>
                        <a class="read-more" href="/posts/<%= post.id %>">Read</a>
                        <a class="edit" href="/edit/<%= post.id %>">Edit</a>
                        <a class="delete" href="/api/posts/delete/<%= post.id %>">Delete</a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </body>

</html>