<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="container">
        <h1><%= post.title %></h1>
        <small><%= post.date %></small>
        <p><%= post.content %></p>
        <small>By: <%= post.author %></small>
        <a href="/" class="back">Go Back</a>
    </div>
</body>

</html>
